name: Deploy to Heroku

on:
  pull_request:
    branches: [master]
    types: [closed]

  workflow_dispatch:

jobs:
  deploy:
  if: github.event.pull_request.merged == true
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy to Heroku
        uses: gonuit/heroku-docker-deploy@v1.3.3
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}

          dockerfile_directory: ./
          dockerfile_name: Dockerfile

          docker_options: "--no-cache"

          process_type: web
